



#volet {
    width: 800px;
    padding: 0px;
    background: #eeeef1; color: rgb(70, 34, 1);
  }
  
  #volet a.ouvrir,
  #volet a.fermer {
    padding: 19px 22px;
    background: rgb(5, 1, 39);
    color: rgb(243, 240, 240);
    text-decoration: none;
  }
  
  #volet {
    position: absolute;
    left: -800px;  /* test fixed + scroll, on retire la position top */
    -webkit-transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    transition: all .5s ease-in;
  }
  #volet a.ouvrir,
  #volet a.fermer {
    position: absolute;
    right: -70px;
    top: 250px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -moz-radius: 0 0 8px 8px; 
    border-radius: 0 0 8px 8px;
  }
  #volet a.fermer {
    display: none;
  }
  #volet:target {
    left: 0px;
  }
  
  /* code pour la fermeture */
  
  #volet:target a.fermer {
    display: block;
  }
  #volet:target a.ouvrir {
    display: none;
  }
  #volet_clos:target #volet {
    left: -800px;
  }
  
  /* test fixed + scroll */
  #volet_clos {
    top: 250px; left: 0;
    z-index: 5000;
  }
  